<div class="contents-row">
  <div class="task-post">
    <h3>タスクを追加する</h3>
    <%= form_with(model: @tweet, local: true) do |form| %>
      <%= form.text_field :task_name, placeholder: "新しいタスクを入力" %>
      <%= form.datetime_field :deadline %>
      <%= form.number_field :required_time, placeholder: "所要時間" %>
      <%= form.collection_select :time_unit, TimeUnit.all, :id, :name, prompt: "選択してください" %>
      <%= form.submit "追加" %>
    <% end %>
  </div>
</div>