<!DOCTYPE html>
<html>
  <head>
    <title>見やすいリスト</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="./css/reset.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <h1 class="grid-6">
        <a href="/">めっちゃ見やすいリスト</a>
      </h1>
    </header>
    <%= yield %>
  </body>
</html>
